:root{
    --font-secular : "Secular One";
    --font-lato: "Lato";
    --font-ubuntu: "Ubuntu", sans-serif;
    --primary-color: white;
    --secondary-color: #cc00ff;
    --hover-color: #9900cc;
    --success-color: #16A34A;
    --error-color: #DC2626;
}

.generalContainer{
    width: 100%;
    height: 100%;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-sizing: border-box;
}

.membersContainer{
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.activeMembers, .activeInvitations{
    width: 50%;
    height: 100%;
    border: 1px solid gray;
    border-radius: 12px;
    padding: 10px;
}

.dangerContainer{
    width: 100%;
    height: calc(100% - 70%);
    border: 1px solid red;
    border-radius: 12px;
}

.activeMembers h2, .activeInvitations h2{
    font-family: var(--font-ubuntu);
    color: gray;
}