:root{
    --font-secular : "Secular One";
    --font-lato: "Lato";
    --font-ubuntu: "Ubuntu", sans-serif;
    --primary-color: white;
    --secondary-color: #cc00ff;
    --hover-color: #9900cc;
    --success-color: #16A34A;
    --error-color: #DC2626;
}

.meetingContainer{
    width: 100%;
    height: 100%;
    border: 1px solid #9900cc;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    box-sizing: border-box;
    padding: 1em 0;
    position: relative;
}

.todaysMeeting, .tomorrowsMeeting{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 5px;
}

.todaysMeeting h2, .tomorrowsMeeting h2{
    font-family: var(--font-lato);
    color: var(--hover-color);
    font-size: 22px;
    font-weight: 900;
}

.meetings, .meetingsTw{
    width: 100%;
    flex-grow: 1;
    border-bottom: 1px solid gray;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    padding: 4px 4px;
    gap: 10px;
}

.meeting{
    width: 320px;
    aspect-ratio: 1/1;
    border: 1px solid gray;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 1em 0.3em;
    gap: 10px;
}

.meeting h2{
    font-family: var(--font-ubuntu);
    color: black;
    font-size: 20px;

}

.meeting span{
    width: 100%;
    flex-grow: 1;
    font-family: var(--font-ubuntu);
    font-size: 18px;
    color: gray;
    font-weight: 500;

}
.meetingD{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 60px;
}

.meetingD div{
    font-family: var(--font-lato);
    font-weight: 800;
    font-size: 18px;
    color: var(--hover-color);
}

.meetingD button{
    height: 100%;
    width: 40%;
    background-color: gray;
    border: none;
    outline: none;
    border-radius: 6px;
    font-family: var(--font-secular);
    color: white;
    cursor: pointer;
}

.createMeeting{
    position: absolute;
    bottom: calc(1em + 7px);
    right: 5px;
    width: 240px;
    height: 60px;
    background-color: var(--hover-color);
    font-family: var(--font-secular);
    color: white;
    border-radius: 6px;
    outline: none;
    border: none;
    &:hover{
        background-color: var(--secondary-color);
        cursor: pointer;
    }
}

.inactive{
    background-color: gray;
    cursor: not-allowed;
    &:hover{
        background-color: gray;
        cursor: not-allowed;
    }
}

.noMeeting{
    aspect-ratio: 1/1;
    height: 320px;
    border: 1px solid gray;
    align-self: center;
    border-radius: 12px;  
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font-lato);
    font-weight: 900;
}
.meetingsTw{
    border: none;
    position: relative;
}