:root{
    --font-secular : "Secular One";
    --font-lato: "Lato";
    --font-ubuntu: "Ubuntu", sans-serif;
    --primary-color: white;
    --secondary-color: #cc00ff;
    --hover-color: #9900cc;
    --success-color: #16A34A;
    --error-color: #DC2626;
}

.sidebarContainer{
    width: 20%;
    height: 100%;
    border: 1px solid var(--hover-color);
    display: flex;
    flex-direction: column;
    border-radius: 12px;
}