:root{
    --font-secular : "Secular One";
    --font-lato: "Lato";
    --font-ubuntu: "Ubuntu", sans-serif;
    --primary-color: white;
    --secondary-color: #cc00ff;
    --hover-color: #9900cc;
    --success-color: #16A34A;
    --error-color: #DC2626;
}

.spaceContainer{
    flex-grow: 1;
    height: 100%;
    border: 1px solid var(--hover-color);
    border-radius: 12px;
    box-sizing: border-box;
}

.navbar{
    width: 60px;
    height: 100%;
    border: 1px solid var(--hover-color);
    border-bottom-left-radius: 12px;
    border-top-left-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding-top: 10px;
}