:root{
    --font-secular : "Secular One";
    --font-lato: "Lato";
    --font-ubuntu: "Ubuntu", sans-serif;
    --primary-color: white;
    --secondary-color: #cc00ff;
    --hover-color: #9900cc;
    --success-color: #16A34A;
    --error-color: #DC2626;
}

.toastifyContainer{
    width: 500px;
    height: 50px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0 1em;
    font-family: var(--font-ubuntu);
    align-self: center;
}

.error{
    border: 2px solid red;
    color: red;
}

.success {
    border: 2px solid green;
    color: green;
}